<body>
    <div class="box_one">
        <h2>Accomplished tasks</h2>
        <h3>Jan 2024 - Jan 2025</h3>
        <div class="box_two">
            <div class="chart_bar">

                <div class="bar_prop">
                    <header>David</header>       <!--bar one-->
                    <div class="bar" style="width: 57%;">57%</div>
                    <div class="bar" style="background-color: #fca311; width: 85%;">85%</div>
                </div>  

                <div class="bar_prop">
                    <header>Samantha</header>       <!--bar two-->
                    <div class="bar" style="width: 22%;">22%</div>
                    <div class="bar" style="background-color: #fca311; width: 59%;">59%</div>
                </div>

                <div class="bar_prop">
                    <header>Peter</header>       <!--bar three-->
                    <div class="bar" style="width: 82%;">82%</div>
                    <div class="bar" style="background-color: #fca311; width: 95%;">95%</div>
                </div>

                <div class="bar_prop">
                    <header>Abigail</header>       <!--bar four-->
                    <div class="bar" style="width: 68%;">68%</div>
                    <div class="bar" style="background-color: #fca311; width: 73%;">73%</div>
                </div>

          </div>
          <div class="chart_pie">
              <div class="pie"></div>
              <h3>
                Users <svg xmlns="http://www.w3.org/2000/svg" height="15" width="15" viewBox="0 0 512 512"><path fill="#8a2be2" d="M256 512A256 256 0 1 0 256 0a256 256 0 1 0 0 512zm0-352a96 96 0 1 1 0 192 96 96 0 1 1 0-192z"/></svg>
                 - Income <svg xmlns="http://www.w3.org/2000/svg" height="15" width="15" viewBox="0 0 512 512"><path fill="#486de7" d="M256 512A256 256 0 1 0 256 0a256 256 0 1 0 0 512zm0-352a96 96 0 1 1 0 192 96 96 0 1 1 0-192z"/></svg>
                 - Conversion Rate <svg xmlns="http://www.w3.org/2000/svg" height="15" width="15" viewBox="0 0 512 512"><path fill="#d7ac55" d="M256 512A256 256 0 1 0 256 0a256 256 0 1 0 0 512zm0-352a96 96 0 1 1 0 192 96 96 0 1 1 0-192z"/></svg>
                 - Sessions <svg xmlns="http://www.w3.org/2000/svg" height="15" width="15" viewBox="0 0 512 512"><path fill="#c55151" d="M256 512A256 256 0 1 0 256 0a256 256 0 1 0 0 512zm0-352a96 96 0 1 1 0 192 96 96 0 1 1 0-192z"/></svg>
                </h3>
          </div>
        </div>    
    </div>
</body>
